.faqSection {
  text-align: center;
  padding: 20px 0;
  background-color: #ffffff;
  width: 80%;
  margin: auto;
}

.subTitle {
  color: #2aa7ff;
  font-weight: 600;
}

.title {
  color: #1b3c74;
  font-size: 32px;
  font-weight: 700;
  margin-top: -8px;
  margin-bottom: 50px;
}

.faqContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.imageWrapper {
  position: relative;
}

.faqImage {
  width: 100%;
  max-width: 600px;
  height: auto;
}

.statsCard {
  position: absolute;
  bottom: 85px;
  left: -40px;
  display: flex;
  align-items: center;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  padding: 10px 15px;
}

.statsCard img {
  width: 30px;
  margin-right: 10px;
}

.statsCard h3 {
  margin: 0;
  color: #1b3c74;
  font-size: 18px;
  font-weight: 700;
}

.statsCard p {
  margin: 0;
  font-size: 12px;
  color: #666;
}

.heartIcon {
  position: absolute;
  top: 45%;
  right: 17px;
  background: white;
  border-radius: 50%;
  padding: 14px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.heartIcon img {
  width: 30px;
}

.questionsWrapper {
  width: 350px;
  text-align: left;
}

.faqItem {
  border-bottom: 1px solid #ddd;
  padding: 15px 0;
  cursor: pointer;
  transition: all 0.3s ease;
}

.faqItem:hover {
  background-color: #f8fbff;
}

.faqQuestion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #1b3c74;
  font-weight: 600;
  font-size: 16px;
}

.faqAnswer {
  margin-top: 10px;
  color: #555;
  font-size: 14px;
  line-height: 1.6;
}

.faqQuestion span {
  color: #2aa7ff;
}
