.container {
  margin: auto;
  padding-bottom: 50px;
  width: 80%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subtitle {
  margin-top: 40px;
  margin-bottom: 10px;
  color: #2aa7ff;
  font-size: 12px;
}

.title {
  color: #1b3c74;
  margin-top: 0;
  margin-bottom: 40px;
}

.cardsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
