.quickAccessSection {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 20px;
  background-color: white;
  border-radius: 12px;
  margin: 0 100px;
  padding: 30px;

  box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.2);

  position: absolute;
  top: 75%;
}

.searchContainer {
  display: flex;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.quickAccessTitle {
  font-weight: 500;
  font-size: 1.1rem;
  margin-top: 15px;
  margin: auto;
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
