.specializationContainer {
  background-color: #e7f0ff;
  padding: auto;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.specializationContainer h1 {
  color: #1b3c74;
  margin: 40px 0;
}
.specializationContainer button {
  margin: 40px 0;
}

.cardGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  width: 70%;
  gap: 20px;
}
