.footer {
  background-color: #0f3c73;
  color: #fff;
  padding: 60px 100px 40px 100px;
  font-family: "Poppins", sans-serif;
}

.footerContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  padding-bottom: 70px;
}

.footerLogoSection {
  flex: 1 1 200px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.footerLogo {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
}

.footerIcon {
  font-size: 22px;
  margin-right: 8px;
}

.footerSocials {
  display: flex;
  gap: 12px;
  margin-top: 20px;
}

.footerSocials a {
  background-color: #ffffff;
  color: white;
  font-size: 14px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: 0.3s;
}

.footerSocials a:hover {
  background-color: #2986ff;
}

.footerLinks {
  display: flex;
  flex: 3;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footerLinks ul {
  list-style: none;
  padding: 0;
}

.footerLinks li {
  margin-bottom: 16px;
  font-size: 14px;
  cursor: pointer;
  transition: color 0.2s ease;
}

.footerLinks li:hover {
  color: #5ab4ff;
}

.footerLinks img {
  margin-right: 10px;
  width: 6px;
}

.footerBottom {
  text-align: start;
  margin-top: 20px;
  font-size: 13px;
  color: #ffffff;
}

.logo {
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  align-items: center;
  display: flex;
}

.logoImage {
  max-width: 24px;
}

.logoText {
  display: inline-block;
  font-size: 18px;
  color: #2aa8ff;
  padding: 8px;
}
