.navbarHome {
  background-color: #e8f1ff78;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: start;
  background: linear-gradient(to right, #2aa7ff, #0c8ce5);
  border-radius: 12px;
}

.navbarContainerHome {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 100px;
}

.navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 100px;
  background-color: #ffffff;
}

.navbarLogo {
  text-decoration: none;
  font-size: 4rem;
  font-weight: bold;
  cursor: pointer;
  align-items: center;
  display: flex;
}

.logoImage {
  max-width: 25px;
}

.logoText {
  display: inline-block;
  font-size: 18px;
  color: #2aa8ff;
  padding: 6px;
}

.navbarMenu {
  display: flex;
  list-style: none;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.navbarItem {
  height: 80px;
  display: flex;
  align-items: center;
}

.navbarLink {
  text-decoration: none;
  padding: 1.7rem 1rem;
  color: inherit;
  /* transition: all 0.3s ease; */
}

.navbarLink:hover {
  color: #2aa7ff;
}

.active .navbarLink {
  color: #2aa7ff;
  border-bottom: 8px solid;
}
