.button {
  background: #2aa8ff;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;

  font-size: 14px;
  transition: background 0.2s ease-in-out;
}

.button:hover {
  background: #1e90ff;
}
