.doctorCard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.doctorImage {
  width: 91%;
  height: auto;
  border: 4px solid white;
  border-radius: 155px 155px 0 0;
  object-fit: cover;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.doctorName {
  color: #1b3c74;
  font-size: 16px;
}

.doctorSpecialization {
  color: #2aa7ff;
  font-size: 12px;
  margin-top: -5px;
}
