.card {
  background-color: #fff;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  padding: 30px 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.iconBox {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 0 auto;
  background-color: #ebf7ff;
}

.iconBox img {
  width: 40px;
}

.card h3 {
  font-size: 2.5rem;
  color: #1b3c74;
  margin-bottom: 5px;
}

.card p {
  color: #77829d;
  font-size: 0.95rem;
}
