.leftSection {
  display: flex;
  gap: 16px;
}

.iconWrapper img {
  width: 130px;
  height: 130px;
  object-fit: contain;
}

.details {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 18px;
  font-weight: 600;
  margin-top: 38px;
  margin-bottom: 15px;
  color: #14bef0;
}

.location {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: -8px;
  color: #414146;
}

.subtitle {
  font-size: 14px;
  color: #414146;
  margin-bottom: -5px;
}

.freeTag {
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #02a401;
}

.freeTag div {
  display: inline;
  font-size: 13px;
  font-weight: 600;
  color: #414146;
}

.strike {
  text-decoration: line-through;
  color: #787887;
}

.likes {
  margin-top: 6px;
  background: #00a500;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 13px;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  color: white;
}
