.card {
  background: #ffffff;
  padding: 24px 28px;
  border-radius: 14px;
  /* width: 100%; */
  /* max-width: 320px; */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
  display: flex;
  flex-direction: column;
  gap: 14px;
  font-family: "Inter", sans-serif;
  margin: 10px 0;
}

.title {
  font-size: 16px;
  color: #444;
  margin: 0;
}

.heading {
  font-size: 22px;
  font-weight: 700;
  margin: 0;
  color: #001a8fff;
  line-height: 1.4;
}

.heading span {
  color: #14bef0;
}

.badge {
  background-color: #2aa7ff;
  color: #fff;
  font-size: 12px;
  padding: 6px 12px;
  border-radius: 6px;
  width: fit-content;
  font-weight: 600;
}

.hashTag {
  font-size: 14px;
  color: #14bef0;
  font-weight: 500;
  margin-top: 4px;
}

.note {
  font-size: 10px;
  color: #777;
  margin-top: 4px;
}
