.card {
  background: #ffffff;
  border-radius: 14px;
  padding: 35px 25px;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.05);
  margin: 10px 0px;
}

.mainSection {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 35px;
}

.leftSection {
  display: flex;
  gap: 16px;
}

.iconWrapper img {
  width: 130px;
  height: 130px;
  object-fit: contain;
}

.details {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 18px;
  font-weight: 600;
  margin-top: 38px;
  margin-bottom: 15px;
  color: #14bef0;
}

.location {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: -8px;
  color: #414146;
}

.subtitle {
  font-size: 14px;
  color: #414146;
  margin-bottom: -5px;
}

.freeTag {
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #02a401;
}

.freeTag div {
  display: inline;
  font-size: 13px;
  font-weight: 600;
  color: #414146;
}

.strike {
  text-decoration: line-through;
  color: #787887;
}

.likes {
  margin-top: 6px;
  background: #00a500;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 13px;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  color: white;
}

.rightSection {
  text-align: center;
  letter-spacing: 0.4px;
}

.available {
  color: #01a400;
  font-weight: 500;
  margin-bottom: 10px;
}

/* slots & date */
.dateSelector {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 15px;
  margin-bottom: 25px;
  border-bottom: 2px solid #f0f0f0;
  position: relative;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.navButton {
  background: none;
  cursor: pointer;
  padding: 7px 15px;
  font-size: 20px;
  color: #787887;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 50%;
}

.dateOption {
  flex: 1;
  text-align: center;
  padding: 12px 0;
  cursor: pointer;
  position: relative;
}

.dayName {
  font-size: 15px;
  font-weight: 600;
  color: #414146;
  margin-bottom: 4px;
}

.slotsCount {
  font-size: 12px;
  color: #00a500;
  font-weight: 500;
}

.dateActive .dayName {
  color: #414146;
}

.dateActive::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  height: 3px;
  background: #2aa7ff;
  border-radius: 2px 2px 0 0;
}

.timeSlotSection {
  margin-bottom: 20px;
  margin-left: 20px;
  display: flex;
  align-items: center;
  gap: 25px;
  padding: 15px 0;
}

.timeSlotSection + .timeSlotSection {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.periodTitle {
  font-size: 14px;
  font-weight: 600;
  color: #414146;
  margin-bottom: 12px;
  width: 100px;
}

.slotsGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  color: #2aa7ff;
}

.slotButton {
  padding: 10px 20px;
  border: 1px solid #2aa7ff;
  border-radius: 6px;
  background: white;
  color: #2aa7ff;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s;
}

.slotButton:hover {
  border-color: #2aa7ff;
  background: #f9fcfe;
}
