.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 140px;
  height: 120px;

  background: #fafafaff;
  cursor: pointer;
  padding: 20px;
  border: 2px solid transparent;
  border-radius: 8px;

  margin: 0 auto;

  transition: all 0.2s ease;
}
.container.active {
  border: 2px solid #2aa7ff;
  font-weight: 600;
  color: #2aa7ff;
  background: #2aa7ff14;
}

.icon {
  width: 48px;
  height: 48px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: inherit;
}
.icon svg {
  width: 100%;
  height: 100%;
}

.title {
  font-size: 14px;
  font-weight: inherit;
  text-align: center;
  line-height: 1.2;

  white-space: nowrap;
}
.container:not(.active) .title {
  color: #6b7280;
  font-weight: 400;
}
