.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fafafaff;
  cursor: pointer;
  padding: 25px 60px;
  margin: auto;
}

.icon {
  width: "16px";
  height: "16px";
  color: #2aa7ff;
  border-radius: "2px";

  display: flex;

  justify-content: center;
  align-items: center;
}

.title {
  font-size: "20px";
  color: gray;
  font-weight: 300;
}
