.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 80%;
  height: 120px;

  background: white;
  cursor: pointer;
  padding: 10px 20px;
  border: 2px solid transparent;
  border-radius: 8px;

  margin: 0 auto;

  transition: all 0.2s ease;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}

.icon {
  width: 48px;
  height: 48px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: inherit;
}
.icon svg {
  width: 100%;
  height: 100%;
}

.title {
  font-size: 14px;
  font-weight: inherit;
  text-align: center;
  line-height: 1.2;

  white-space: nowrap;
}
.container:not(.active) .title {
  color: #abb6c7;
  font-weight: 400;
  margin-top: 20px;
}
